.mac-book-pro1611-mac-book-pro161 {
  width: 1564px;
  height: 7123px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.mac-book-pro1611-rectangle1 {
  top: 1117px;
  left: 0px;
  width: 1728px;
  height: 2994px;
  position: absolute;
}
.mac-book-pro1611-vector4 {
  top: 3396px;
  left: -182.5px;
  width: 2344px;
  height: 3220px;
  position: absolute;
}
.mac-book-pro1611-our-teams {
  top: 5720px;
  left: -629px;
  width: 2871px;
  height: 811px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.mac-book-pro1611-frame33 {
  top: 0px;
  left: 676px;
  width: 1518px;
  display: flex;
  position: absolute;
  align-items: center;
  border-color: transparent;
  flex-direction: column;
}
.mac-book-pro1611-text {
  color: rgba(155, 59, 140, 1);
  width: 925px;
  height: auto;
  font-size: 80px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 104px;
  text-decoration: none;
}
.mac-book-pro1611-container {
  left: 50px;
  width: 1424.4833984375px;
  bottom: -442px;
  height: 445.7833251953125px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
}
.mac-book-pro1611-frame27 {
  top: 0px;
  left: 0px;
  width: 305px;
  display: flex;
  padding: 25.8612060546875px 28.116527557373047px;
  position: absolute;
  box-shadow: 0px 4.325619697570801px 16.221073150634766px 0px rgba(113, 59, 155, 1) ;
  align-items: center;
  border-color: transparent;
  border-radius: 43.25619888305664px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.mac-book-pro1611-frame26 {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  margin-bottom: 23.790908813476562px;
  flex-direction: column;
}
.mac-book-pro1611-text002 {
  color: rgb(121, 59, 153);
  width: 199px;
  height: auto;
  font-size: 31.4839px;
  align-self: auto;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: 120%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 16.37876319885254px;
  text-decoration: none;
}
.mac-book-pro1611-text003 {
  color: #793b99;
}
.mac-book-pro1611-text005 {
  color: #000000;
}
.mac-book-pro1611-text006 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 23px;
  align-self: auto;
  font-style: italic;
  text-align: center;
  font-family: Inter;
  font-weight: 300;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.mac-book-pro1611-maskgroup {
  width: 249px;
  height: 248.7230987548828px;
  display: flex;
  padding: 0;
  position: relative;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.mac-book-pro1611-ellipse5 {
  top: 0px;
  left: 0px;
  width: 249px;
  height: 249px;
  position: absolute;
  border-color: transparent;
}
.mac-book-pro1611-ellipse4 {
  top: 0px;
  left: 0px;
  width: 249px;
  height: 249px;
  position: absolute;
  border-color: transparent;
}
.mac-book-pro1611-image1 {
  top: -21px;
  left: 19px;
  width: 202px;
  height: 249px;
  position: absolute;
  border-color: transparent;
}
.mac-book-pro1611-frame28 {
  top: 2px;
  left: 357.83331298828125px;
  width: 305px;
  display: flex;
  padding: 25.8612060546875px 28.116527557373047px;
  position: absolute;
  box-shadow: 0px 4.325619697570801px 16.221073150634766px 0px rgba(113, 59, 155, 1) ;
  align-items: center;
  border-color: transparent;
  border-radius: 43.25619888305664px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.mac-book-pro1611-frame261 {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  margin-bottom: 23.790908813476562px;
  flex-direction: column;
}
.mac-book-pro1611-text008 {
  color: rgb(113, 59, 155);
  width: 199px;
  height: auto;
  font-size: 31.4839px;
  align-self: auto;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: 120%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 16.37876319885254px;
  text-decoration: none;
}
.mac-book-pro1611-text009 {
  color: #713b9b;
}
.mac-book-pro1611-text011 {
  color: #000000;
}
.mac-book-pro1611-text012 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 23px;
  align-self: auto;
  font-style: italic;
  text-align: center;
  font-family: Inter;
  font-weight: 300;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.mac-book-pro1611-maskgroup01 {
  width: 249px;
  height: 248.7230987548828px;
  display: flex;
  padding: 0;
  position: relative;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.mac-book-pro1611-ellipse51 {
  top: 0px;
  left: 0px;
  width: 249px;
  height: 249px;
  position: absolute;
  border-color: transparent;
}
.mac-book-pro1611-ellipse41 {
  top: 0px;
  left: 0px;
  width: 249px;
  height: 249px;
  position: absolute;
  border-color: transparent;
}
.mac-book-pro1611-ellipse42 {
  top: 0px;
  left: 0px;
  width: 249px;
  height: 249px;
  position: absolute;
  border-color: transparent;
}
.mac-book-pro1611-image2 {
  top: -18px;
  left: 18px;
  width: 219px;
  height: 234px;
  position: absolute;
  border-color: transparent;
}
.mac-book-pro1611-frame29 {
  top: 2px;
  right: 380.81671142578125px;
  width: 305px;
  display: flex;
  padding: 25.8612060546875px 28.116527557373047px;
  position: absolute;
  box-shadow: 0px 4.325619697570801px 16.221073150634766px 0px rgba(113, 59, 155, 1) ;
  align-items: center;
  border-color: transparent;
  border-radius: 43.25619888305664px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.mac-book-pro1611-frame262 {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  margin-bottom: 23.790908813476562px;
  flex-direction: column;
}
.mac-book-pro1611-text014 {
  color: rgba(0, 0, 0, 1);
  width: 199px;
  height: auto;
  font-size: 31.48394203186035px;
  align-self: auto;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 16.37876319885254px;
  text-decoration: none;
}
.mac-book-pro1611-text015 {
  color: rgba(0, 0, 0, 1);
}
.mac-book-pro1611-text016 {
  color: rgba(113, 59, 155, 1);
}
.mac-book-pro1611-text018 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 23px;
  align-self: auto;
  font-style: italic;
  text-align: center;
  font-family: Inter;
  font-weight: 300;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.mac-book-pro1611-maskgroup02 {
  width: 249px;
  height: 248.7230987548828px;
  display: flex;
  padding: 0;
  position: relative;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.mac-book-pro1611-ellipse52 {
  top: 0px;
  left: 0px;
  width: 249px;
  height: 249px;
  position: absolute;
  border-color: transparent;
}
.mac-book-pro1611-ellipse43 {
  top: 0px;
  left: 0px;
  width: 249px;
  height: 249px;
  position: absolute;
  border-color: transparent;
}
.mac-book-pro1611-image5 {
  top: -16px;
  left: 33px;
  width: 187px;
  height: 236px;
  position: absolute;
  border-color: transparent;
}
.mac-book-pro1611-frame30 {
  top: 2px;
  right: 0px;
  width: 305px;
  display: flex;
  padding: 25.8612060546875px 28.116527557373047px;
  position: absolute;
  box-shadow: 0px 4.325619697570801px 16.221073150634766px 0px rgba(113, 59, 155, 1) ;
  align-items: center;
  border-color: transparent;
  border-radius: 43.25619888305664px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.mac-book-pro1611-frame263 {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  margin-bottom: 23.790908813476562px;
  flex-direction: column;
}
.mac-book-pro1611-text020 {
  color: rgba(113, 59, 155, 1);
  width: 199px;
  height: auto;
  font-size: 31.48394203186035px;
  align-self: auto;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 16.37876319885254px;
  text-decoration: none;
}
.mac-book-pro1611-text021 {
  color: rgba(113, 59, 155, 1);
}
.mac-book-pro1611-text023 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 23px;
  align-self: auto;
  font-style: italic;
  text-align: center;
  font-family: Inter;
  font-weight: 300;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.mac-book-pro1611-maskgroup03 {
  width: 249px;
  height: 248.7230987548828px;
  display: flex;
  padding: 0;
  position: relative;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.mac-book-pro1611-ellipse53 {
  top: 0px;
  left: 0px;
  width: 249px;
  height: 249px;
  position: absolute;
  border-color: transparent;
}
.mac-book-pro1611-ellipse44 {
  top: 0px;
  left: 0px;
  width: 249px;
  height: 249px;
  position: absolute;
  border-color: transparent;
}
.mac-book-pro1611-image3 {
  top: -20px;
  left: 19px;
  width: 208px;
  height: 243px;
  position: absolute;
  border-color: transparent;
}
.mac-book-pro1611-container1 {
  left: 409px;
  width: 686px;
  bottom: -1000px;
  height: 490.1829833984375px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
}
.mac-book-pro1611-frame31 {
  top: 0px;
  left: 0px;
  width: 305px;
  display: flex;
  padding: 25.8612060546875px 28.116527557373047px;
  position: absolute;
  box-shadow: 0px 4.325619697570801px 16.221073150634766px 0px rgba(113, 59, 155, 1) ;
  align-items: center;
  border-color: transparent;
  border-radius: 43.25619888305664px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.mac-book-pro1611-frame264 {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  margin-bottom: 23.790908813476562px;
  flex-direction: column;
}
.mac-book-pro1611-text025 {
  color: rgba(113, 59, 155, 1);
  width: 199px;
  height: auto;
  font-size: 31.48394203186035px;
  align-self: auto;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 16.37876319885254px;
  text-decoration: none;
}
.mac-book-pro1611-text026 {
  color: rgba(113, 59, 155, 1);
}
.mac-book-pro1611-text028 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 30px;
  align-self: auto;
  font-style: italic;
  text-align: center;
  font-family: Inter;
  font-weight: 300;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.mac-book-pro1611-maskgroup04 {
  width: 249px;
  height: 248.7230987548828px;
  display: flex;
  padding: 0;
  position: relative;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  padding-top: 0;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.mac-book-pro1611-image {
  width: 266px;
  height: 100%;
  object-fit: cover;
}
.mac-book-pro1611-frame32 {
  top: 0.21630859375px;
  right: 0px;
  width: 305px;
  display: flex;
  padding: 25.8612060546875px 28.116527557373047px;
  position: absolute;
  box-shadow: 0px 4.325619697570801px 16.221073150634766px 0px rgba(113, 59, 155, 1) ;
  align-items: center;
  border-color: transparent;
  border-radius: 43.25619888305664px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.mac-book-pro1611-frame265 {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  margin-bottom: 23.790908813476562px;
  flex-direction: column;
}
.mac-book-pro1611-text030 {
  width: 199px;
  height: auto;
  font-size: 31.4839px;
  align-self: auto;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: 120%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 16.37876319885254px;
  text-decoration: none;
}
.mac-book-pro1611-text031 {
  color: #000000;
}
.mac-book-pro1611-text032 {
  color: #793b99;
}
.mac-book-pro1611-text033 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 30px;
  align-self: auto;
  font-style: italic;
  text-align: center;
  font-family: Inter;
  font-weight: 300;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.mac-book-pro1611-maskgroup05 {
  width: 249px;
  height: 248.7230987548828px;
  display: flex;
  padding: 0;
  position: relative;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.mac-book-pro1611-image1 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.mac-book-pro1611-ellipse6 {
  left: 280px;
  width: 492px;
  bottom: -70px;
  height: 756px;
  position: absolute;
  border-color: transparent;
  padding-left: 352px;
}
.mac-book-pro1611-ellipse7 {
  left: 2094px;
  width: 229px;
  bottom: -32px;
  height: 756px;
  position: absolute;
  border-color: transparent;
}
.mac-book-pro1611-journey {
  top: 3530px;
  left: -62px;
  width: 1721px;
  display: flex;
  padding: 0 209px;
  position: absolute;
  align-items: center;
  border-color: transparent;
  flex-direction: column;
}
.mac-book-pro1611-title {
  height: 172px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 200px;
  flex-direction: column;
}
.mac-book-pro1611-text035 {
  color: rgba(255, 255, 255, 1);
  width: 539px;
  height: auto;
  font-size: 80px;
  align-self: auto;
  box-shadow: 0px 10px 4px 0px rgba(0, 0, 0, 0.25) ;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.mac-book-pro1611-frame35 {
  width: 1303px;
  height: 1506px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.mac-book-pro1611-program-cards {
  top: 0px;
  left: 186.5px;
  width: 969px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.mac-book-pro1611-frame22 {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  margin-bottom: 150px;
}
.mac-book-pro1611-component1 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  margin-right: 40px;
  flex-direction: column;
}
.mac-book-pro1611-frame6 {
  display: flex;
  padding: 17px 0;
  position: relative;
  align-items: center;
  border-color: transparent;
  border-radius: 36.86012649536133px;
  margin-bottom: 54px;
  flex-direction: column;
  background-image: linear-gradient(180deg, rgba(155, 58, 139, 0) 0%, rgba(155, 58, 139, 1) 58%);
}
.mac-book-pro1611-maskgroup06 {
  width: 299px;
  height: 215px;
  display: flex;
  padding: 0;
  position: relative;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: -34px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 1);
}
.mac-book-pro1611-unsplash--hnnjk-yj7y {
  top: -29px;
  left: -1.5px;
  width: 355px;
  height: 209px;
  position: absolute;
  border-color: transparent;
}
.mac-book-pro1611-text037 {
  color: rgba(255, 255, 255, 1);
  width: 301px;
  height: auto;
  font-size: 32px;
  align-self: auto;
  font-style: italic;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.mac-book-pro1611-frame21 {
  display: flex;
  padding: 39px 42px;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  border-radius: 40px;
  background-image: linear-gradient(0deg, rgba(155, 59, 140, 1) 35%, rgba(113, 59, 155, 1) 100%);
}
.mac-book-pro1611-text042 {
  color: rgba(255, 255, 255, 1);
  width: 544px;
  height: auto;
  font-size: 25.802087783813477px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.mac-book-pro1611-frame23 {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  margin-bottom: 150px;
}
.mac-book-pro1611-frame211 {
  display: flex;
  padding: 39px 42px;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  margin-right: 40px;
  border-radius: 40px;
  background-image: linear-gradient(0deg, rgba(155, 59, 140, 1) 35%, rgba(113, 59, 155, 1) 100%);
}
.mac-book-pro1611-text044 {
  color: rgba(255, 255, 255, 1);
  width: 544px;
  height: auto;
  font-size: 25.802087783813477px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.mac-book-pro1611-component11 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.mac-book-pro1611-frame61 {
  display: flex;
  padding: 17px 0;
  position: relative;
  align-items: center;
  border-color: transparent;
  border-radius: 36.86012649536133px;
  flex-direction: column;
  background-image: linear-gradient(180deg, rgba(155, 58, 139, 0) 0%, rgba(155, 58, 139, 1) 58%);
}
.mac-book-pro1611-maskgroup07 {
  width: 299px;
  height: 215px;
  display: flex;
  padding: 0;
  position: relative;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: -34px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 1);
}
.mac-book-pro1611-unsplash--hnnjk-yj7y1 {
  top: -29px;
  left: -1.5px;
  width: 355px;
  height: 209px;
  position: absolute;
  border-color: transparent;
}
.mac-book-pro1611-text046 {
  color: rgba(255, 255, 255, 1);
  width: 301px;
  height: auto;
  font-size: 32px;
  align-self: auto;
  font-style: italic;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.mac-book-pro1611-frame24 {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  margin-bottom: 150px;
}
.mac-book-pro1611-component12 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  margin-right: 40px;
  flex-direction: column;
}
.mac-book-pro1611-frame62 {
  display: flex;
  padding: 17px 0;
  position: relative;
  align-items: center;
  border-color: transparent;
  border-radius: 36.86012649536133px;
  flex-direction: column;
  background-image: linear-gradient(180deg, rgba(155, 58, 139, 0) 0%, rgba(155, 58, 139, 1) 58%);
}
.mac-book-pro1611-maskgroup08 {
  width: 299px;
  height: 215px;
  display: flex;
  padding: 0;
  position: relative;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: -34px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 1);
}
.mac-book-pro1611-unsplash--hnnjk-yj7y2 {
  top: -29px;
  left: -1.5px;
  width: 355px;
  height: 209px;
  position: absolute;
  border-color: transparent;
}
.mac-book-pro1611-text048 {
  color: rgba(255, 255, 255, 1);
  width: 301px;
  height: auto;
  font-size: 32px;
  align-self: auto;
  font-style: italic;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.mac-book-pro1611-frame212 {
  display: flex;
  padding: 39px 42px;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  border-radius: 40px;
  background-image: linear-gradient(0deg, rgba(155, 59, 140, 1) 35%, rgba(113, 59, 155, 1) 100%);
}
.mac-book-pro1611-text050 {
  color: rgba(255, 255, 255, 1);
  width: 544px;
  height: auto;
  font-size: 25.802087783813477px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.mac-book-pro1611-frame25 {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
}
.mac-book-pro1611-frame213 {
  display: flex;
  padding: 39px 42px;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  margin-right: 40px;
  border-radius: 40px;
  background-image: linear-gradient(0deg, rgba(155, 59, 140, 1) 35%, rgba(113, 59, 155, 1) 100%);
}
.mac-book-pro1611-text052 {
  color: rgba(255, 255, 255, 1);
  width: 544px;
  height: auto;
  font-size: 25.802087783813477px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.mac-book-pro1611-component13 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.mac-book-pro1611-frame63 {
  display: flex;
  padding: 17px 0;
  position: relative;
  align-items: center;
  border-color: transparent;
  border-radius: 36.86012649536133px;
  flex-direction: column;
  background-image: linear-gradient(180deg, rgba(155, 58, 139, 0) 0%, rgba(155, 58, 139, 1) 58%);
}
.mac-book-pro1611-maskgroup09 {
  width: 299px;
  height: 215px;
  display: flex;
  padding: 0;
  position: relative;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: -34px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 1);
}
.mac-book-pro1611-unsplash--hnnjk-yj7y3 {
  top: -29px;
  left: -1.5px;
  width: 355px;
  height: 209px;
  position: absolute;
  border-color: transparent;
}
.mac-book-pro1611-text054 {
  color: rgba(255, 255, 255, 1);
  width: 301px;
  height: auto;
  font-size: 32px;
  align-self: auto;
  font-style: italic;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.mac-book-pro1611-vector {
  top: 157px;
  left: 0px;
  width: 117px;
  height: 344px;
  position: absolute;
}
.mac-book-pro1611-vector1 {
  top: 992px;
  left: 0px;
  width: 117px;
  height: 345px;
  position: absolute;
}
.mac-book-pro1611-vector2 {
  top: 581px;
  left: 1303px;
  width: 117px;
  height: 344px;
  position: absolute;
}
.mac-book-pro1611-our-programs {
  top: 2431px;
  left: 10px;
  width: 1725px;
  display: flex;
  position: absolute;
  align-items: center;
  border-color: transparent;
  flex-direction: column;
  justify-content: center;
}
.mac-book-pro1611-text056 {
  color: rgba(255, 255, 255, 1);
  width: 539px;
  height: auto;
  font-size: 80px;
  align-self: auto;
  box-shadow: 0px 10px 4px 0px rgba(0, 0, 0, 0.25) ;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 50px;
  text-decoration: none;
}
.mac-book-pro1611-program-cards1 {
  width: 1725px;
  height: 636px;
  display: flex;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  justify-content: center;
}
.mac-book-pro1611-component14 {
  width: 337px;
  height: 470px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 143.57638549804688px;
}
.mac-book-pro1611-frame64 {
  top: -0.00010850694525288418px;
  left: 0.9571917653083801px;
  width: 336px;
  height: 394.2244873046875px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 36.86012649536133px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.mac-book-pro1611-maskgroup10 {
  width: 336px;
  height: 254.66476440429688px;
  display: flex;
  padding: 0;
  position: relative;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 1);
}
.mac-book-pro1611-unsplash--hnnjk-yj7y4 {
  top: 0.00028232100885361433px;
  left: -18.531784057617188px;
  width: 373px;
  height: 234px;
  position: absolute;
  border-color: transparent;
}
.mac-book-pro1611-frame5 {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  flex-direction: column;
}
.mac-book-pro1611-text058 {
  color: rgba(95, 70, 152, 1);
  height: auto;
  font-size: 36.86012649536133px;
  align-self: auto;
  font-style: Bold;
  text-align: justified;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 5.89762020111084px;
  text-decoration: none;
}
.mac-book-pro1611-text060 {
  color: rgba(0, 0, 0, 1);
  width: 231px;
  height: auto;
  font-size: 25.802087783813477px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.mac-book-pro1611-ellipse3 {
  top: 467.6344299316406px;
  left: 0.42653757333755493px;
  width: 337px;
  height: 20px;
  position: absolute;
  border-color: transparent;
}
.mac-book-pro1611-component4 {
  width: 337px;
  height: 470px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 143.57638549804688px;
}
.mac-book-pro1611-frame65 {
  top: -0.00010850694525288418px;
  left: 0.9571917653083801px;
  width: 336px;
  height: 394.2244873046875px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 36.86012649536133px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.mac-book-pro1611-maskgroup11 {
  width: 336px;
  height: 254.66476440429688px;
  display: flex;
  padding: 0;
  position: relative;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 1);
}
.mac-book-pro1611-unsplash--hnnjk-yj7y5 {
  top: 0.00028232100885361433px;
  left: -18.531784057617188px;
  width: 373px;
  height: 234px;
  position: absolute;
  border-color: transparent;
}
.mac-book-pro1611-frame51 {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  flex-direction: column;
}
.mac-book-pro1611-text062 {
  color: rgba(95, 70, 152, 1);
  height: auto;
  font-size: 36.86012649536133px;
  align-self: auto;
  font-style: Bold;
  text-align: justified;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 5.89762020111084px;
  text-decoration: none;
}
.mac-book-pro1611-text064 {
  color: rgba(0, 0, 0, 1);
  width: 231px;
  height: auto;
  font-size: 25.802087783813477px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.mac-book-pro1611-ellipse31 {
  top: 467.6344299316406px;
  left: 0.42653757333755493px;
  width: 337px;
  height: 20px;
  position: absolute;
  border-color: transparent;
}
.mac-book-pro1611-component5 {
  width: 337px;
  height: 470px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.mac-book-pro1611-frame66 {
  top: -0.00010850694525288418px;
  left: 0.9571917653083801px;
  width: 336px;
  height: 394.2244873046875px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 36.86012649536133px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.mac-book-pro1611-maskgroup12 {
  width: 336px;
  height: 254.66476440429688px;
  display: flex;
  padding: 0;
  position: relative;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 1);
}
.mac-book-pro1611-unsplash--hnnjk-yj7y6 {
  top: 0.00028232100885361433px;
  left: -18.531784057617188px;
  width: 373px;
  height: 234px;
  position: absolute;
  border-color: transparent;
}
.mac-book-pro1611-frame52 {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  flex-direction: column;
}
.mac-book-pro1611-text066 {
  color: rgba(95, 70, 152, 1);
  height: auto;
  font-size: 36.86012649536133px;
  align-self: auto;
  font-style: Bold;
  text-align: justified;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 5.89762020111084px;
  text-decoration: none;
}
.mac-book-pro1611-text068 {
  color: rgba(0, 0, 0, 1);
  width: 231px;
  height: auto;
  font-size: 25.802087783813477px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.mac-book-pro1611-ellipse32 {
  top: 467.6344299316406px;
  left: 0.42653757333755493px;
  width: 337px;
  height: 20px;
  position: absolute;
  border-color: transparent;
}
.mac-book-pro1611-about-us {
  top: 940px;
  left: -565px;
  width: 2444px;
  height: 1490px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.mac-book-pro1611-about-usdecor {
  top: 0px;
  left: 46.000022888183594px;
  width: 2398px;
  height: 1525px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.mac-book-pro1611-beveled-cone {
  top: 0px;
  left: 495px;
  width: 394px;
  height: 481px;
  position: absolute;
  border-color: transparent;
}
.mac-book-pro1611-wireframesphere {
  top: 143px;
  left: 1021px;
  width: 155px;
  height: 278px;
  position: absolute;
  border-color: transparent;
}
.mac-book-pro1611-chain {
  left: 1439px;
  width: 274px;
  bottom: 113px;
  height: 312px;
  position: absolute;
  border-color: transparent;
}
.mac-book-pro1611-wide-half-ring {
  top: 1013px;
  left: 478px;
  width: 512px;
  height: 512px;
  position: absolute;
  border-color: transparent;
}
.mac-book-pro1611-wireframe-cylinder {
  top: 26px;
  left: 1885.9998779296875px;
  width: 512px;
  height: 512px;
  position: absolute;
  border-color: transparent;
}
.mac-book-pro1611-sharp-donut {
  top: 770px;
  left: 1886px;
  width: 512px;
  height: 512px;
  position: absolute;
  border-color: transparent;
}
.mac-book-pro1611-ellipticalbangle {
  left: 450px;
  width: 634px;
  bottom: 474px;
  height: 653px;
  position: absolute;
  border-color: transparent;
}
.mac-book-pro1611-about-us1 {
  top: 390px;
  left: 733px;
  width: 1402px;
  display: flex;
  position: absolute;
  align-items: flex-end;
  border-color: transparent;
  justify-content: center;
}
.mac-book-pro1611-about-us2 {
  width: 749px;
  height: 686px;
  display: flex;
  padding: 0;
  position: relative;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 34px;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.mac-book-pro1611-frame20 {
  top: -76px;
  right: 0px;
  width: 749px;
  height: 598px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
}
.mac-book-pro1611-text070 {
  color: rgba(255, 255, 255, 1);
  width: 768px;
  height: auto;
  font-size: 80px;
  align-self: auto;
  box-shadow: 0px 10px 4px 0px rgba(0, 0, 0, 0.25) ;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: -99px;
  text-decoration: none;
}
.mac-book-pro1611-text072 {
  color: rgb(255, 255, 255);
  width: 704px;
  height: auto;
  font-size: 28px;
  align-self: auto;
  font-style: Regular;
  text-align: justified;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.mac-book-pro1611-maskgroup13 {
  width: 619px;
  height: 576px;
  display: flex;
  padding: 0;
  position: relative;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.mac-book-pro1611-vector3 {
  top: 131.90548706054688px;
  left: 6.265327453613281px;
  width: 574px;
  height: 444px;
  position: absolute;
}
.mac-book-pro1611-maskgroup14 {
  top: 0px;
  left: 0px;
  width: 619.1571655273438px;
  height: 576px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.mac-book-pro1611-pngfind1 {
  top: 33.11126708984375px;
  left: -13.149771690368652px;
  width: 598px;
  height: 561px;
  position: absolute;
  border-color: transparent;
}
.mac-book-pro1611-hero {
  top: 96px;
  left: -66px;
  width: 1728px;
  height: 884px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.mac-book-pro1611-frame8 {
  top: -19px;
  left: 71px;
  width: 1562px;
  height: 884px;
  position: absolute;
}
.mac-book-pro1611-text080 {
  top: 252px;
  left: 175px;
  color: rgb(95, 70, 152);
  width: 700px;
  height: auto;
  position: absolute;
  font-size: 80px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 120%;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro1611-text081 {
  text-decoration: none;
}
.mac-book-pro1611-text082 {
  text-decoration: underline;
}
.mac-book-pro1611-text086 {
  top: 463.90960693359375px;
  left: 173.202880859375px;
  color: rgba(0, 0, 0, 1);
  width: 723px;
  height: auto;
  position: absolute;
  font-size: 30px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro1611-frame2 {
  top: 619.8828735351562px;
  left: 308.2126770019531px;
  width: 307.742919921875px;
  height: 55.375125885009766px;
  display: flex;
  padding: 10px 29px;
  position: absolute;
  box-shadow: 4px 8px 0px 0px rgba(72, 47, 127, 1) ;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 50px;
  justify-content: center;
  background-color: rgba(95, 70, 152, 1);
}
.mac-book-pro1611-text088 {
  color: rgb(255, 255, 255);
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.mac-book-pro1611-vector3 {
  top: 703.8684692382812px;
  left: 453.149658203125px;
  width: 19px;
  height: 23px;
  position: absolute;
}
.mac-book-pro1611-ellipse2 {
  top: 715.8663940429688px;
  left: 1126.2132568359375px;
  width: 310px;
  height: 13px;
  position: absolute;
  border-color: transparent;
}
.mac-book-pro1611-rectangle {
  top: 121.50665283203125px;
  left: 930.6474609375px;
  width: 700px;
  height: 651px;
  position: absolute;
  border-color: transparent;
}
.mac-book-pro1611-nav-bar {
  top: 0px;
  left: -33px;
  width: 1728px;
  height: 100px;
  display: flex;
  padding: 0 136px;
  position: absolute;
  box-shadow: 0px 4px 20px 0px rgba(95, 70, 152, 1) ;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 1);
}
.mac-book-pro1611-frame3 {
  display: flex;
  position: relative;
  align-items: flex-end;
  border-color: transparent;
  justify-content: center;
}
.mac-book-pro1611-b-bravelogotext1 {
  width: 158px;
  height: 92px;
  position: relative;
  border-color: transparent;
  margin-right: 20px;
}
.mac-book-pro1611-frame13 {
  width: 131px;
  height: 68px;
  display: flex;
  padding: 2px 0;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 20px;
  flex-direction: column;
  justify-content: center;
}
.mac-book-pro1611-text089 {
  color: rgba(95, 70, 152, 1);
  width: 130px;
  height: auto;
  font-size: 18px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 32px;
  text-decoration: none;
}
.mac-book-pro1611-vector1 {
  width: 96px;
  height: 0px;
  position: relative;
}
.mac-book-pro1611-frame14 {
  width: 131px;
  height: 68px;
  display: flex;
  padding: 2px 0;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 20px;
  flex-direction: column;
  justify-content: center;
}
.mac-book-pro1611-text091 {
  color: rgba(95, 70, 152, 1);
  width: 130px;
  height: auto;
  font-size: 18px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 32px;
  text-decoration: none;
}
.mac-book-pro1611-vector11 {
  width: 96px;
  height: 0px;
  position: relative;
}
.mac-book-pro1611-frame15 {
  width: 131px;
  height: 68px;
  display: flex;
  padding: 2px 0;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 20px;
  flex-direction: column;
  justify-content: center;
}
.mac-book-pro1611-text093 {
  color: rgba(95, 70, 152, 1);
  width: 130px;
  height: auto;
  font-size: 18px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 32px;
  text-decoration: none;
}
.mac-book-pro1611-vector12 {
  width: 96px;
  height: 0px;
  position: relative;
}
.mac-book-pro1611-frame16 {
  width: 131px;
  height: 68px;
  display: flex;
  padding: 2px 0;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 20px;
  flex-direction: column;
  justify-content: center;
}
.mac-book-pro1611-text095 {
  color: rgba(95, 70, 152, 1);
  width: 130px;
  height: auto;
  font-size: 18px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 32px;
  text-decoration: none;
}
.mac-book-pro1611-vector13 {
  width: 96px;
  height: 0px;
  position: relative;
}
.mac-book-pro1611-frame17 {
  width: 131px;
  height: 68px;
  display: flex;
  padding: 2px 0;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
  justify-content: center;
}
.mac-book-pro1611-text097 {
  color: rgba(95, 70, 152, 1);
  width: 130px;
  height: auto;
  font-size: 18px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 32px;
  text-decoration: none;
}
.mac-book-pro1611-vector14 {
  width: 96px;
  height: 0px;
  position: relative;
}
.mac-book-pro1611-frame4 {
  display: flex;
  padding: 10px 29px;
  position: relative;
  box-shadow: 4px 8px 0px 0px rgba(72, 47, 127, 1) ;
  align-items: flex-start;
  border-color: transparent;
  border-radius: 50px;
  background-color: rgba(95, 70, 152, 1);
}
.mac-book-pro1611-text099 {
  color: rgba(255, 255, 255, 1);
  width: 97px;
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
